@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer base {
  @font-face {
    font-family: 'BOGLEBLACK';
    font-display: swap;
    src: url(/bogle/BOGLEBLACK.woff) format('woff');
  }
  @font-face {
    font-family: 'BOGLEBOLD';
    font-display: swap;
    src: url(/bogle/BOGLEBOLD.woff) format('woff');
  }
  @font-face {
    font-family: 'BOGLEITALIC';
    font-display: swap;
    src: url(/bogle/BOGLEITALIC.woff) format('woff');
  }
  @font-face {
    font-family: 'BOGLEREGULAR';
    font-display: swap;
    src: url(/bogle/BOGLEREGULAR.woff) format('woff');
  }
}
.webkit-center{
  text-align: -webkit-center;
};
